.flash(ng-controller="NotificationsController")
  %div(ng-show="isVisible()" class="alert alert-{{notification.type}}" ng-bind="notification.message")

%form.mail_msg_form(name="form" ng-submit="save()")
  %form-field(ng-model="mailApp.name" errors="form.errors.name") Name
  %form-field(ng-if="mailApp.password" ng-model="mailApp.password" ng-disabled="true") Password
  %label Members
  %select.select2.chosen(chosen="" multiple="true" placeholder="Select some options" ng-model="members" ui-select2="")
    %option(ng-value="user.id" ng-repeat="user in users | filter: {email: '!!'}") {{user.email}}

  %br

  .actions
  .container-fluid
    .row-fluid
      .span4
        %button.btn.btn-primary Save
        %a.btn.btn-danger.nowrap{ "href" => '', "ng-click" => "cancel()" }
          = t(".cancel")
        %span{ "ng-if" => "mailApp.current_user_can_delete_app" }
          %a.btn.btn-danger.nowrap.pull-right{ "href" => '', "ng-click" => "destroy()" }
            %i.icon-trash
              = t(".delete")
