.container-fluid
  .row-fluid
    .well
      %a{ "href" => '', "ng-click" => "editMailApp(mailApp)" }
        = t("settings")

  .row-fluid
    .span4
      .well
        = render "web/angular_templates/shared/messages_filter"
      .well.mail_msg_group_actions
        %input{ type: "checkbox" }
        %i.icon-trash
        %i.icon-ok

      = render "web/angular_templates/shared/messages_list"
    .span8
      %span{ "ng-show" => "resourceMessage" }
        = render "web/angular_templates/shared/message"

