/FIXME
%h1 {{mailApp.name}}

.container-fluid
  .row-fluid
    .well
      %a{ "href" => '', "ng-click" => "editMailApp(mailApp)" }
        = t("settings")

  .row-fluid
    .span4
      .well
        = render "web/angular_templates/shared/messages_filter"

      = render "web/angular_templates/shared/messages_list"
    .span8
      %span{ "ng-show" => "resourceMessage" }
        = render "web/angular_templates/shared/message"

