%p To complete the update of your password, please follow the link below and then specify your new password:
%p= link_to @reset_password_url, @reset_password_url
%p If you did not register a MailSandbox account, please ignore this message.

= render "signature"

