%p Welcome to MailSandbox!
%p To complete your registration, please confirm your email address by clicking the link below:
%p= link_to @confirm_url, @confirm_url
%p If you did not register a MailSandbox account, please ignore this message.

= render "signature"

