%table.table.table-hover.mail_applications
  %thead
    %tr
      %th.name= MailApplication.human_attribute_name :name
      %th.unread_mails_count= h.t('unread_mails_count')
      %th.owner= h.t('owner')
      %th.actions
  {{view view.CollectionView controllerBinding="MailSandboxWeb.Controllers.MailApplicationsCollection"}}