%ul.nav.pull-right
  - if signed_in?
    %li.navbar-text= current_user.email
  %li.dropdown
    = drop_down_link_to t '.account'
    %ul.dropdown-menu
      %li= link_to t('.sign_out'), user_session_path, :method => :delete
