%form(name="form" ng-submit="ransackParamsPicking()")

  %select.select2{ "placeholder" => "State", "ng-model" => "messageFilterMask.state", "ui-select2" => "{allowClear: true}" }
    %option
    %option{ value: "read" }   read
    %option{ value: "unread" } unread

  %select.select2{ "placeholder" => "Recipient", "ng-model" => "messageFilterMask.recipient", "ui-select2" => "{allowClear: true}" }
    %option
    %option{ "ng-repeat" => "recipient in mailApp.recipients", value: "{{recipient}}" } {{recipient}}

  %select.select2{ "placeholder" => "Sender", "ng-model" => "messageFilterMask.sender", "ui-select2" => "{allowClear: true}" }
    %option
    %option{ "ng-repeat" => "sender in mailApp.senders", value: "{{sender}}" } {{sender}}

  .actions
    %button.btn.btn-info Apply
    %button.btn.btn-danger{"ng-click" => "ransackParamsDrop()"} Clean
