.mail_msg_table {
    table-layout: fixed;
}

.mail_msg_table tr:first-child td {
  border-top: 0;
}

.mail_msg_table .cb_ctrl {
  width:10%;
}

.mail_msg_table .cb_ctrl input[type="checkbox"] {
  margin-left: 4px
}

.mail_msg_table .meta {
  font-size: 11px;
}

.mail_msg_table .subject {
  font-size: 13px;
  margin: 0 0 10px;
}

.mail_msg_table .bold {
  font-weight: bold;
}

.mail_msg_table .meta dl {
  margin: 0;
}

.mail_msg_table .meta dt {
  display: inline-block;
  width: 30px;
}

.mail_msg_table .meta dd {
  display: inline-block;
}