// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-header {
  font-size: 13px;
  text-transform: uppercase;
  color: #343434;
  padding: 0 5px
}